[submodule "rosu-pp-ffi"]
	path = dependencies/rosu-pp-ffi
	url = https://github.com/fantasyzhjk/rosu-pp-ffi
[submodule "sb-pp-ffi"]
	path = dependencies/sb-pp-ffi
	url = https://github.com/fantasyzhjk/rosu-pp-ffi
[submodule "OppaiSharp"]
	path = dependencies/OppaiSharp
	url = https://github.com/fantasyzhjk/OppaiSharp
